article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body{
      // font-family: 'Righteous', cursive;
      

    font-family: 'Press Start 2P', cursive;


}

body {
      font-family: 'Press Start 2P', cursive;
}

header{
      background-image:url(../space.svg);
      background-size:100%;
      background-repeat:repeat-y;
      height:100vh;
      width:100%;
      color: white;
      display:flex;
      flex-flow:column nowrap;
      align-items:center;
      overflow:hidden;
      .headerLayerOne{
            border: 20px solid #172240;
            border-radius: 100px;
            padding:10px;
            margin-top:200px;
            z-index:10;
            // background:black;
            .headerLayerTwo {
                        border: 20px solid #00999E;
                        border-radius: 75px;
                        padding: 10px;
      
                        .headerLayerThree {
                              border: 20px solid #89C6AC;
                              border-radius: 50px;
                              padding:20px;
                              background:black;
                        }
            }
      }
      h1{
            font-size:60px;
            color:#89C6AC;
            text-transform:uppercase;
            text-align:center;
            line-height:80px;
            margin:0;
            text-shadow:0px 8px rgb(204, 83, 41);
            z-index:2;

      
      }
      h2{
            font-size:20px;
            color:#89C6AC;
            margin-top:10px;
            z-index:2;
            text-align:center;
      }
      h3{
            font-size:14px;
            text-align:center;
            color:yellow;
            
      }
      .ast{
            position:absolute;

      }
      .small{
            width:50px;
            top:8%;
            left:35%;
            animation:rotateLeft 5s linear infinite;
      }
      .small2{
            width:50px;
            top:70%;
            left:78%;
            animation:rotateRight 5s linear infinite;
      }
      .small3{
            width:50px;
            top:15%;
            left:57%;
            animation:rotateLeft 5s linear infinite;
      }
      .small4{
            width:50px;
            top:90%;
            left:10%;
            animation:rotateRight 5s linear infinite;
      }
      .doug{
            width:80px;
            z-index:100;
            top:60%;
            position:absolute;
            animation:doug 20s linear infinite;
      }
      .medium{
            width:100px;
            top:50%;
            right:10%;
            animation:rotateLeft 10s linear infinite;
      }
      .medium2{
            width:100px;
            top:65%;
            left:15%;
            animation:rotateLeft 14s linear infinite;
      }
      .large{
            width:300px;
            top:50%;
            right:30%;
            animation:rotateRight 40s linear infinite;
      }

      .earth{
            width:50%;
            position:absolute;
            bottom:0;
            left:50%;
            transform:translateX(-50%);
      }

}
@keyframes doug{
      0%{
            left:0;

      }
      50%{
            transform:rotate(360deg);
      }
      100%{
            left:94%;
            transform:rotate(720deg);
      }
}
@keyframes rotateRight {
      0%{
            
      }
      100%{
            transform:rotate(360deg)
      }
}
@keyframes rotateLeft{
      100%{
            transform:rotate(-360deg)
      }
}

.selectHeader {
      color: #DE457F;
      text-align: center;
      border-top: 15px solid #DE457F;
      border-bottom: 15px solid #DE457F;
      font-size:30px;
      padding:50px;
      margin:0;
      background:black;
}
main {
      background-image: url(../space.svg);
      background-size:100%;
      background-repeat:repeat-y;
      width:100%;
      overflow-x:hidden;
      position:relative;

}



      .leftWrapper{
            width:100%;
            // position:absolute;
            transition:all 0.5s linear;
            position:relative;
            top:9%;
            display:flex;
            flex-flow:row nowrap;
            justify-content:space-around;
      }
      .container{
            // background: black;
            border: 20px solid rgb(92, 34, 71);
            border-radius: 100px;
            width:60%;
            padding: 10px;
            margin:40px 0;
            background:black;

            .firstInnerLeft {
                  border: 20px solid rgb(167, 47, 50);
                  border-radius: 75px;
                  padding: 10px;

                  .secondInnerLeft {
                        border: 20px solid rgb(204, 83, 41);
                        border-radius: 50px;
                        
                        .asteroidList{
                              list-style: none;
                              padding:0;
                              li {
                                    // padding: 10px 0;
                                    // border: 3px solid grey;
                                    margin: 0 auto 10px auto;
                                    width: 50%;
                                    line-height: 70px;
                                    color: #89C6AC;
                                    text-align:center;
                                    display:block;
                                    
                              }
                              li:hover{
                                    color:white;
                                    cursor:pointer;

                              }
                              li:hover::before {
                                    content: "▶";
                                    border-color: transparent #111;
                                    position:relative;
                                    left:0;
                                    bottom:3px;
                                    margin-right:10px;
                              }
                        }
                  }
            }
      }
      .rightWrapper{
            width:100%;
            display:none;
            position:relative;
            padding:40px 0;
            top:9%;
            transition:all 0.5s linear;
            
      }
      .rightSide{
            width:40%;
            border: 20px solid rgb(92, 34, 71);
            border-radius: 100px;
            padding:10px;
            background:black;
            margin:0 auto;
            width:60%;


            .firstInnerRight{
                  border: 20px solid rgb(167, 47, 50);
                  border-radius: 75px;
                  padding:10px;
                  height:100%
            }
            .secondInnerRight{
                  border: 20px solid rgb(204, 83, 41);
                  border-radius: 50px;
                  padding:10px;
                  height:100%;
                  display:flex;
                  flex-flow:column nowrap;
                  justify-content:space-around;
                  align-items:center;

                  .todayAverage {
                        width: 100%;
                        color:white;
                        text-align:center;
                        margin:0 auto;

                        h3{
                              font-size:25px;
                              text-decoration:underline;
                        }
                        p{
                              font-size:16px;
                              margin:10px;
                        }
                        .averageSpeed{
                              margin:0 auto;
                              border-radius:10px;
                        }
                  }
                  .rightSideInfo{
                        display:none;
                        color:white;
                        
                        h2{
                              text-align:center;
                              font-size:25px;
                              text-decoration:underline;
                        }
                        .sidebarImageContainer{
                              height:300px;
                              width:300px;
                              display:flex;
                              justify-content:center;
                              align-items:center;

                        }
                        img{
                              // position:relative;
                              // display:block;
                              animation:rotateRight 40s linear infinite;
                        }
                        p{
                              font-size:16px;
                              margin:10px;
                        }
                        .warning{
                              border:2px solid black;
                              border-radius:10px;
                        }
                        .speed{
                              padding:15px;
                              border-radius:10px;
                        }
                        @keyframes caution {
                              50%{
                                    border:2px solid yellow;
                                    color:red;
                                    
                              }
                        }
                        .hazardousTrue {
                              animation-name: caution;
                              animation-iteration-count: infinite;
                              animation-duration: 1s;
                              padding: 30px;
                        }
                        .selectAnother {
                              text-decoration: none;
                              color: #89C6AC;
                              font-size: 16px;
                              padding: 15px;
                              margin:10px 0;
                              border:2px solid black;
                              border-radius:4px;
                              
                        }
                        .selectAnother:hover {
                              border:2px solid #89C6AC;
                              color: #89C6AC; 
                        }

                  }
                  .active{
                        display:flex;
                        flex-flow:column nowrap;
                        align-items:center;
                        background: black;
                  }
                  img.small{
                        width:90px;
                  }
                  img.medium{
                        width:175px;
                  }
                  img.large{
                        width:250px;
                  }
            }

            
      }


@keyframes speed {
      from {background-color: black;
            color: white;}
      to {background-color: white;
            color: black;}
}
.averageSpeed {
      margin: 0 auto;
      width: 50%;
      animation-name: speed;
      animation-iteration-count: infinite;
      padding: 20px;
}

.speedAnimation {
      animation-name: speed;
      animation-iteration-count: infinite;
}


footer{
      background:black;
      h4{
            margin:0;
            font-size:16px;
            color:white;
            padding:60px;
            text-align:center;
            line-height:18px;

      }
}

.twitterBtn {
      text-align: center;
      padding-bottom: 30px;
      a{

            text-decoration:none;
            color:#89C6AC;
      }
}

@media(max-width:1293px){
      .rightSide{
            width:90%;
      }
}
@media(max-width:941px){
      header{
            .headerLayerOne{
                  border:10px solid #172240;
                  .headerLayerTwo{
                        border:10px solid #00999E;
                        .headerLayerThree{
                              border:10px solid #89C6AC;
                        }
                  }
            }

            h1{
                  font-size:30px;
                  text-shadow:0 4px rgb(204, 83, 41);
            }
            h2{
                  font-size:15px;
            }
      }
}
@media(max-width:880px){
      main{
            .container{
                  .firstInnerLeft{
                        .secondInnerLeft{
                              ul{
                                    li{
                                          font-size:12px;
                                    }
                              }
                        }
                  }
            }
            .rightSide{

                  .secondInnerRight{
                        .rightSideInfo{
                              p{
                                    font-size:12px;
                              }
                              h2{
                                    font-size:16px;
                              }
                              .sidebarImageContainer{
                                    height:150px;
                                    width:150px;
                              }
                              img.small{
                                    width:50px;
                              }
                              img.medium{
                                    width:80px;
                              }
                              img.large{
                                    width:130px;
                              }
                              a.selectAnother{
                                    font-size:12px;
                                    padding:10px;
                                    line-height:15px;
                              }
                        }
                        .todayAverage{
                              h3{
                                    font-size:16px;
                              }
                              p{
                                    font-size:12px;
                              }
                        }

                  }
            }
      }
}
@media(max-width:748px){
      footer{
            h4{
                  font-size:12px;
            }
      }
}

@media(max-width:713px){
      main{
            .rightSide{

                  .secondInnerRight{
                        .rightSideInfo{
                              p{
                                   text-align:left;
                              }
                              h2{
                                    text-align:center;
                              }
                        }

                  }
            }
            
      }
}

@media(max-width:512px){
      .container{
            width:90%;
      }
}

@media(max-width:405px){
      main{
            .rightSide{
                  border:5px solid rgb(92, 34, 71);
                  .firstInnerRight{
                        border: 5px solid rgb(167, 47, 50);
                        .secondInnerRight{
                              border: 5px solid rgb(204, 83, 41);
                        }
                  }
            }
      }
}

// header{
//       background-image:url(../space.svg);
//       background-size:100%;
//       background-repeat:repeat-y;
//       height:100vh;
//       width:100%;
//       color: white;
//       display:flex;
//       flex-flow:column nowrap;
//       align-items:center;
//       overflow:hidden;
//       .headerLayerOne{
//             border: 20px solid #172240;
//             border-radius: 100px;
//             padding:10px;
//             margin-top:200px;
//             z-index:10;
//             // background:black;
//             .headerLayerTwo {
//                         border: 20px solid #00999E;
//                         border-radius: 75px;
//                         padding: 10px;
      
//                         .headerLayerThree {
//                               border: 20px solid #89C6AC;
//                               border-radius: 50px;
//                               padding:20px;
//                               background:black;
//                         }
//             }
//       }
//       h1{
//             font-size:60px;
//             color:#89C6AC;
//             text-transform:uppercase;
//             text-align:center;
//             line-height:80px;
//             margin:0;
//             text-shadow:0px 8px rgb(204, 83, 41);
//             z-index:2;

      
//       }