article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body{
      // font-family: 'Righteous', cursive;
      

    font-family: 'Press Start 2P', cursive;


}

body {
      font-family: 'Press Start 2P', cursive;
}

header{
      background-image:url(../space.svg);
      background-size:100%;
      background-repeat:repeat-y;
      height:100vh;
      width:100%;
      color: white;
      display:flex;
      flex-flow:column nowrap;
      align-items:center;
      overflow:hidden;
      h1{
            font-size:100px;
            color:rgb(204, 83, 41);
            text-transform:uppercase;
            text-align:center;
            line-height:150px;
            margin:0;
            text-shadow:0px 10px rgb(167, 47, 50);
            margin-top:200px;
            z-index:2;

      
      }
      h2{
            font-size:40px;
            color:orange;
            margin-top:40px;
            z-index:2;
            text-align:center;
      }
      .ast{
            position:absolute;

      }
      .small{
            width:50px;
            top:20%;
            left:35%;
            animation:rotateLeft 5s linear infinite;
      }
      .small2{
            width:50px;
            top:60%;
            left:78%;
            animation:rotateRight 5s linear infinite;
      }
      .small3{
            width:50px;
            top:25%;
            left:57%;
            animation:rotateLeft 5s linear infinite;
      }
      .small4{
            width:50px;
            top:90%;
            left:10%;
            animation:rotateRight 5s linear infinite;
      }
      .medium{
            width:100px;
            top:50%;
            right:10%;
            animation:rotateLeft 10s linear infinite;
      }
      .large{
            width:300px;
            top:30%;
            right:30%;
            animation:rotateRight 40s linear infinite;
      }

      .earth{
            width:50%;
            position:absolute;
            bottom:0;
            left:50%;
            transform:translateX(-50%);
      }

}
@keyframes rotateRight {
      0%{
            
      }
      100%{
            transform:rotate(360deg)
      }
}
@keyframes rotateLeft{
      100%{
            transform:rotate(-360deg)
      }
}

main {
      background-image: url(../space.svg);
      background-size:100%;
      background-repeat:repeat-y;
      width:100%;
      overflow-x:hidden;
      position:relative;

      // display:flex;
      // justify-content:space-around;
      // display:flex;
      // flex-flow:row nowrap;
}
.selectHeader {
      color: #DE457F;
      text-align: center;
      border-top: 25px solid #DE457F;
      border-bottom: 25px solid #DE457F;
      font-size:40px;
      padding:50px;
      margin:0;
      background:black;
}



      .leftWrapper{
            width:100%;
            // position:absolute;
            transition:all 0.5s linear;
            position:relative;
            top:9%;
            display:flex;
            flex-flow:row nowrap;
            justify-content:space-around;
      }
      .container{
            // background: black;
            border: 20px solid rgb(92, 34, 71);
            border-radius: 100px;
            width:60%;
            padding: 10px;
            margin:40px 0;
            background:black;

            .firstInnerLeft {
                  border: 20px solid rgb(167, 47, 50);
                  border-radius: 75px;
                  padding: 10px;

                  .secondInnerLeft {
                        border: 20px solid rgb(204, 83, 41);
                        border-radius: 50px;
                        
                        .asteroidList{
                              list-style: none;
                              li {
                                    // padding: 10px 0;
                                    // border: 3px solid grey;
                                    margin: 0 auto 10px auto;
                                    width: 50%;
                                    line-height: 70px;
                                    color: rgb(68, 142, 222);
                                    text-align:center;
                                    display:block;
                                    
                              }
                              li:hover{
                                    color:white;
                              }
                              li:hover::before {
                                    content: "▶";
                                    border-color: transparent #111;
                                    // border-color: white;
                                    border-style: solid;
                                    border-width: 0.35em 0 0.35em 0.45em;
                                    display: block;
                                    height: 0;
                                    width: 0;
                                    // left: -1em;
                                    // top: 0.9em;
                                    position: relative;
                              }
                        }
                  }
            }
      }
      .rightWrapper{
            width:100%;
            display:none;
            position:relative;
            padding:40px 0;
            top:9%;
            transition:all 0.5s linear;
            
      }
      .rightSide{
            width:60%;
            border: 20px solid rgb(92, 34, 71);
            border-radius: 100px;
            padding:10px;
            background:black;
            margin:0 auto;


            .firstInnerRight{
                  border: 20px solid rgb(167, 47, 50);
                  border-radius: 75px;
                  padding:10px;
                  height:100%
            }
            .secondInnerRight{
                  border: 20px solid rgb(204, 83, 41);
                  border-radius: 50px;
                  padding:10px;
                  height:100%;
                  display:flex;
                  flex-flow:column nowrap;
                  justify-content:space-around;
                  align-items:center;

                  .todayAverage {
                  width: 100%;
                  color:white;

                  text-align:center;
                  margin:0 auto;
                  h3{
                        font-size:30px;
                        text-decoration:underline;
                  }
                  p{
                        font-size:20px;
                  }
                  }
                  .rightSideInfo{
                        display:none;
                        color:white;
                        
                        h2{
                              text-align:center;
                              font-size:40px;
                              text-decoration:underline;
                        }
                        .sidebarImageContainer{
                              height:500px;
                              width:500px;
                              display:flex;
                              justify-content:center;
                              align-items:center;

                        }
                        img{
                              // position:relative;
                              // display:block;
                              animation:rotateRight 40s linear infinite;
                        }
                        p{
                              font-size:25px;
                        }
                        @keyframes caution {
                              from {background-color: yellow;
                                    color: black;}
                              to {background-color: black;
                                    color: yellow;}
                        }
                        .hazardousTrue {
                              animation-name: caution;
                              animation-iteration-count: infinite;
                              animation-duration: 1s;
                        }
                        .selectAnother {
                              text-decoration: none;
                              color: #308891;
                              font-size: 25px;
                              padding: 20px;
                              line-height:70px;
                        }
                        .selectAnother:hover {
                              background-color:#308891;
                              color: black; 
                              box-shadow: 10px 10px 3px #0f6a75;
                        }

                  }
                  .active{
                        display:flex;
                        flex-flow:column nowrap;
                        align-items:center;
                        background: black;
                  }
                  img.small{
                        width:100px;
                  }
                  img.medium{
                        width:200px;
                  }
                  img.large{
                        width:250px;
                  }
            }

            
      }


footer{
      background:black;
      h4{
            margin:0;
            color:white;
            padding:60px;
            text-align:center;
      }
}


